/* .sidebar {
	width: 30%;
	padding: 5%;
	background-color: #eee;
	border-radius: 5px;
	transform: scale(1);
}

.sidebar h2 {
	margin-top: 10%;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	margin-bottom: 10px;
} */

@media (min-width: 768px) {
	.sidebar {
		width: 25%;
		padding-bottom: 0;
	}
}

@media (max-width: 767px) {
	.sidebar {
		width: 50%;
		padding-bottom: 0;
	}
}