body {
	height: 100%;
	margin: 0;
	background-color: aliceblue;
	overflow: hidden;
}

#messageBox {
	width: 100%;
	height: 100%;
	border: 2% solid gray;
	margin: 2%;
	padding: 2%;
	background-color: burlywood;
	display: block;
}

#userPlusMessage {
	width: 100%;
	height: 100%;
}

#chattable {
	border: 10% solid gray;
	margin: 1%;
	width: 90%;
	height: 100%;
	background-color: whitesmoke;
}

#userlistbox {
	border: 10% solid black; 
	box-shadow: 2% 2% 2%;
	width:40%; 
	height:100%;
	text-decoration-color: coral;
}